.menu {
    display: flex;
}

.menu__item {
    visibility: hidden;
    overflow: hidden;
}

.menu__slot {
    flex: item;
    position: relative;
    &:hover .menu__item {
        visibility: visible
    }
}

.menu__entryContainer {
    position: absolute
}